body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
}

header{
    background:#d3d3d3;
}

nav{
    background:#b0c4de;
}

main{
    background:#ffffff;
    font-size:18px;
}

footer{
    background:#d3d3d3;
}

li{
    display:inline-block;
    width:180px;
}

h1{
    text-align:center;
    font-family:Georgia, serif;
    color:#003366;
}

p{
    line-height:1.6;
}
/* Skip link */
a{
    position: absolute;
    left: -999px;
}

a:focus{
    left: 10px;
}

/* li */
li{
    display: inline-block;
}

/* nav */
nav{
    display: inline-block;
    width: 80%;
}

/* Chỉ ảnh trong nav */
nav img{
    width: 10%;
}

/* Grid */
.grid{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: start;
    row-gap: 20px;
}

/* Chỉ ảnh trong grid */
.grid img{
    width: 100%;
}