body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
}

header{
    background:#d3d3d3;
}

nav{
    background:#b0c4de;
}

main{
    background:#ffffff;
    font-size:18px;
}

footer{
    background:#d3d3d3;
}

li{
    display:inline-block;
    width:180px;
}

h1{
    text-align:center;
    font-family:Georgia, serif;
    color:#003366;
}

p{
    line-height:1.6;
}